{% extends "layout.html" %}
{% block body %}
  <div class="content">
    <div class="sidebar">
      <div>{{ user.username }}</div>
      <hr/>
      <div>
        Games played: {{ user.games_played }}
      </div>
      <div>
        Games won: {{ user.games_won }}
      </div>
    </div>

    <div id="game">
      <table>
      {% for row in range(board_capacity) %}
        <tr class="board-row">
          {% for column in range(board_capacity) %}
          <td class="board-cell">
            {% set index = column+row*board_capacity %}
            <button id="{{ index }}" type="button" class="cell" onclick="sendId(this)">
              {{ game_board[index].value }}
            </button>
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  <div id="example"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="static/js/index.js"></script>


{% endblock %}