{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div>Hello, {{ user.username }}!</div>
  {% endif %}
  <div class="content">
    <div class="sidebar">
      <div>{{ user.username }}</div>
      <hr/>
      <div>
        Games played: {{ user.games_played }}
      </div>
      <div>
        Games won: {{ user.games_won }}
      </div>
    </div>
    <div id="settings">
    <form action="" method=post>
      <label>{{ form.hidden_tag() }}</label>
      <div>
        {{ form.user_sign.label }}
        {% for subfield in form.user_sign %}
          <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
          </tr>
        {% endfor %}
      </div>
      <div>
        <label>{{ form.diagonals.label }}</label>
        <div>
          {{ form.diagonals }}
        </div>
      </div>
      <div>
        <button type="submit" class="start-btn">
          Start game!    
        </button>
      </div>
    </form>
  </div>
    
  </div>
{% endblock %}