{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    {{ form.hidden_tag() }}
    <h2>Login</h2>
    <div>
        <label>{{ form.username.label }}</label>
        <div>
          {{ form.username }}
        </div>
    </div>
 
    <div>
        <label>{{ form.password.label }}</label>
        <div>
          {{ form.password }}
        </div>
    </div>

    <div>
        <div>
          <button type="submit" class="submit-btn">Submit</button>
        </div>
    </div>
  </form>
{% endblock %}