{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Sign up for =^Cat game^= Application </h2>
    <div class="control-group">
        <label>{{ form.username.label }}</label>
        <div class="controls">
          {{ form.username }}
        </div>
    </div>
 
    <div>
        <div>
        <label>{{ form.password.label }}</label>
        <div class="controls">
          {{ form.password }}
        </div>
    </div>
    </div>
 
    <div>
        <label>{{ form.email.label }}</label>
        <div>
          {{ form.email }}
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Sign up</button>
        </div>
    </div>
  </form>
{% endblock %}