{% extends "layout.html" %}
{% block body %}
  <div class="content">
    <form action="" method=post class="form-horizontal">
      <h2>Registration</h2>

      <div>
          <label>{{ form.username.label }}</label>
          <div>
            {{ form.username }}
          </div>
      </div>
   
      <div>
          <label>{{ form.password.label }}</label>
          <div>
            {{ form.password }}
          </div>
      </div>
      </div>
   
      <div>
          <label>{{ form.email.label }}</label>
          <div>
            {{ form.email }}
          </div>
      </div>
   
      <div >
          <div>
            <button type="submit" class="submit-btn">Sign up</button>
          </div>
      </div>
    </form>
  </div>
{% endblock %}